<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            description="Template Project for a RCP4 Application"
            name="RCP4 TemplateProject">
         <property
               name="applicationCSS"
               value="bundleclass://templateProject.application/css/default.css">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://templateProject.application/templateproject.application.E4LifeCycle">
         </property>
         <property
               name="appName"
               value="RCP4 TemplateProject">
         </property>
      </product>
   </extension>

</plugin>
